.inputWrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .inputWrapper input {
    width: 100%;
    border: 1px solid grey;
    padding: 0 10px;
    height: 38px;
    border-radius: 10px;
  }